
<div class='container-fluid'>
  <div>
    <ngb-alert [type]='type' *ngIf="error" (close)="error=false">
      <strong>Error!</strong>  {{message}}
    </ngb-alert>
  </div>
  <div>
    <ngb-alert [type]='type' *ngIf="done" (close)="done=false ">
      <strong>Success!</strong> {{message1}}
    </ngb-alert>
  </div>
    <div class='row'>
      <div class='col-md-10 offset-md-1'>
        <div class="card">
          <div class='card-header d-flex align-items-center justify-content-between'>
            <h4>Panna</h4>

            <form [formGroup]="ledgerForm" class='clsFormDate form-inline'>
              <input type="date" class='form-control bd-highlight ' formControlName="date">
              <button class="btn btn-primary ml-2" (click)="onSubmit()" name.value='' >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Get
            </button>

            </form>

          </div>

          <div class="card-body">
            <div  class="mt-2 table-responsive">
              <table class="table table-striped table-bordered table-sm"   >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">जमा / Receipt</th>
                    <th scope="col">Narration</th>
                    <th scope="col">खर्च / Payment </th>
                    <th scope="col">Narration</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                  <tr *ngIf="transactionData1">
                    <td> </td>
                    <td class='text-right' *ngIf="transactionData1.balance > 0 else elseBlock4">{{transactionData1.balance}}</td>
                    <ng-template #elseBlock4><p class='text-right'>-</p></ng-template>
                    <td><b>Opening balance </b></td>
                    <td class='text-right' *ngIf="transactionData1.balance < 0 else elseBlock5">{{transactionData1.balance}} </td>
                    <ng-template #elseBlock5><p class='text-right'>-</p></ng-template>
                    <td> </td>
                    <td> </td>
                  </tr>
                <tbody *ngIf="transactionData && transactionData.data.length else elseBlock1">
                  <tr *ngFor="let dt of transactionData.data ;  index as i" >
                    <td>{{i+1}}</td>

                    <td class='text-right'><span *ngIf="dt.paymentType == 'receipt'">{{dt.amount}}</span></td>
                    <td class='text-capitalize'><span *ngIf=" dt.account"> <h6 *ngIf="dt.paymentType == 'receipt'"><a [routerLink]="['/' ,'partyledger',dt.account._id]" >{{dt.account.name}}</a> </h6></span>
                    <div class='text-muted' *ngIf="dt.paymentType == 'receipt'">{{dt.narration}} - by {{dt.transactionBy.firstname}}</div></td>

                    <td class='text-right'><span *ngIf="dt.paymentType == 'payment'">{{dt.amount}}</span></td>
                    <td class='text-capitalize'><span *ngIf=" dt.account"> <h6 *ngIf="dt.paymentType == 'payment'"><a [routerLink]="['/' ,'partyledger',dt.account._id]" >{{dt.account.name}}</a> </h6></span>
                    <div class='text-muted' *ngIf="dt.paymentType == 'payment'">{{dt.narration}} - by {{dt.transactionBy.firstname}}</div></td>


                    <td class='text-center'>
                      <button class="btn btn-danger btn-sm" [disabled]="loading" (click)="delete(dt._id)">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <fa-icon [icon]="trashIcon" ></fa-icon> Delete </button> <button class="btn btn-default btn-sm ml-1"   [routerLink]="['/',dt.paymentType,'edit' , dt._id]" > <fa-icon [icon]="editIcon"> </fa-icon> Edit </button>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class='text-right'> {{getTotal('receipt')}}</td>
                    <td><b>Total </b> </td>
                    <td class='text-right'>    {{ getTotal('payment') }}</td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr *ngIf="transactionData1">
                    <td> </td>
                    <!--<td class='text-right' *ngIf={{ getTotal('receipt') > getTotal('payment')}} > {{getTotal('receipt')}}</td>-->
                    <td class='text-right' *ngIf="(transactionData1.balance + getTotal('receipt'))  > (transactionData1.balance + getTotal('payment')) else elseBlock2" >
                      {{ transactionData1.balance + getTotal('receipt') - getTotal('payment')}}
                    </td>
                    <td> <b>Closing balance </b> </td>
                    <td class='text-right' *ngIf="(transactionData1.balance + getTotal('receipt'))  < (transactionData1.balance + getTotal('payment')) else elseBlock3" >
                      {{ transactionData1.balance + getTotal('receipt') - getTotal('payment')  }}
                    </td>
                     <td></td>
                     <td></td>
                  </tr>
                </tbody>
                <ng-template #elseBlock1>
                  <tr>
                    <td colspan=6>
                      No Transaction found
                    </td>
                  </tr>
                </ng-template>
                <ng-template #elseBlock2><p class='text-right'>-</p></ng-template>
                <ng-template #elseBlock3><p class='text-right'>-</p></ng-template>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

</div>

