<div class='container-fluid'>

<div class='row'>
		<div class='col-md-8 offset-md-2'>
			<div class="card">

		        <h4 class="card-header">Attendance </h4>

		        <div class="card-body">
			<!-- <form class="form-inline">
					  <div class="form-group mx-sm-3 mb-2">
					    <label for="checkIn" class="sr-only">CheckIN</label>
					    <input type="button" class="btn btn-primary mb-2" id="checkIn" value="Check In">
					  </div>
					  <button type="button" class="btn btn-primary mb-2" id="checkOut">Check Out</button>
				</form>  -->
				<button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>

				</div> 
			</div>
		</div>
	</div>
</div>	